
@{
    ViewBag.Title = "ErrorPage";
}

<h2>The course already exist!</h2>

<br />
<button class="btn btn-primary btn-lg">@Html.ActionLink("Add New Course", "AddCourses", "Admin")</button>
<br />
<td>
    @Html.ActionLink("Back to Home page", "Home")
</td>