
@{
    ViewBag.Title = "ErrorPageAddStud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <br /><br /><br />
                <h2 style="color: snow">There is a conflict with another course!</h2><br />
    <td>
        <h4>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            @Html.ActionLink("Add New Student", "AddStudents", "Admin")
            <br /><br />
            @Html.ActionLink("Back to Home page", "Home")
        </h4>
    </td>
</center>


<div>
    <br />
    <center> <button class="open">@Html.ActionLink("Log-Off", "LogOff", "Home")</button></center>
    <br />
</div>